# Terraform variables for the GCP project
TF_VAR_project: "org-bot-654321"
TF_VAR_region: "europe-west1"
TF_VAR_name: "my-org-bot"
TF_VAR_description: "iamkarlson's brain bot"

BOT_TOKEN: 9999999999:AAAAAAAAAAA999aaaaaaaaaaaaaaaaaaaaa
GITHUB_TOKEN: github_pat_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
WEBHOOK_URL: https://your.gcp.function.url
GITHUB_REPO: user/repo
JOURNAL_FILE: journal.org
AUTHORIZED_CHAT_IDS: "888888888"