# Terraform variables for the GCP project
TF_VAR_project: "org-bot-654321"
TF_VAR_region: "europe-west1"
TF_VAR_name: "my-org-bot"
TF_VAR_description: "iamkarlson's brain bot"

BOT_TOKEN: 9999999999:AAAAAAAAAAA999aaaaaaaaaaaaaaaaaaaaa
GITHUB_TOKEN: github_pat_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITHUB_REPO: user/repo
ORG_JOURNAL_FILE: journal.org
ORG_TODO_FILE: todo.org
BOT_AUTHORIZED_CHAT_IDS: "[888888888]"
BOT_IGNORED_CHAT_IDS: "[1234567890]"
BOT_FORWARD_UNAUTHORIZED_TO: "999999999"

BOT_SENTRY_DSN: "https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@xxxxxxxxxxxxxxxxx.ingest.de.sentry.io/7777777777777777"
